<!DOCTYPE html>
<html>
<head>
  <title>About — Alex Tran</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar">
  <div class="logo">Alex Tran</div>

  <ul class="nav-links">
    <li><a href="/home">Home</a></li>
    <li><a href="/" class="active">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/resume">Resume</a></li>
  </ul>
</nav>

<section class="section">
  <h1>About Me</h1>
  <p style="max-width: 800px; color: #94a3b8; line-height: 1.8;">
    I’m majoring in computer science. I am currently looking for experience in the field.
    My goal is to be a backend developer that is able to build high performance backend
    systems and modern web application. With the ability to build and focus on clean architecture.
  </p>
</section>

<footer>
  © 2026 Alex Tran.
</footer>

</body>
</html>